container {
  margin: 50px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #939dac71;
}

form {
  padding-bottom: 7px;
}

h1 {
  color: black;
  display: block;
  font-size: 35px;
  font-weight: 500;
  height: 28px;
  line-height: 28.8px;
  text-align: left;
}

ul {
  padding: 0px;
  margin: 0, 0, 10px;
}

li {
  color: black;
  display: block;
  font-size: 18px;
  font-weight: 200;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.current-temperature {
  font-size: 150px;
  font-weight: 200;
  display: inline;
  line-height: 120%;
  height: 100%;
  vertical-align: middle;
}

.place-time {
  margin-top: 10px;
  margin-bottom: 20px;
}

.date-time {
  list-style-type: none;
}

.weather-app {
  border: 1px solid rgb(135, 135, 135);
  padding: 30px;
  margin: 120px auto;
  margin-bottom: 0px;
  border-radius: 15px;
  max-width: 800px;
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
}

#weather-details {
  display: flex;
  list-style: none;
  text-align: center;
  padding: 0px;
  text-underline-offset: auto;
}

.weather-menu {
  font-weight: 300;
}

#current-weather-icon {
  display: inline;
  margin-top: unset;
  margin-left: 10px;
  vertical-align: top;
  width: 45%;
}

.weather-desc {
  font-size: 26px;
  padding-left: 10px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.unit {
  color: blue;
  display: inline-block;
  font-size: 26px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: 160%;
  text-decoration: none;
}

.footer {
  font-size: 13px;
  text-align: center;
}

.temperature .active {
  color: #202124;
  cursor: default;
  text-decoration: none;
}

.temperature .active:hover {
  text-decoration: none;
}
